<h1> <%= @artist.name %> </h1>

<div id="link">
    <%= link_to 'Back to Profile', root_path %> <br>
    <%= link_to "Back to Artists", artists_path(@artists) %>

    <% @user = current_user %>
    <p> <%= @user.email.split('@')[0].capitalize %> </p>
</div>

<% @artist.albums.each do |album| %>
    <%= image_tag(album.artwork, size: "300") %>
<p> <%= link_to album.title, album_path(album) %> </p>
<% end %> 



<% @artist.albums.order(:release_date).reverse.each do |album| %>
    <%= link_to image_tag(album.artwork, size: "300"), album_path(album) %>
    <div id="albumtitle">
     <%=album.title%> 
    </div>
<% end %> 
