<%= image_tag(@album.artwork, size: "50") %>
<h1> <%= @album.title %> </h1>

<div id="table">
<table>
    <thead>
    <tr>
    <div id="th">
    <th>likes</th>
    <th>Song</th>
    <th>Artist</th>
    </div>
    </tr>
    </thead>

    <tbody>
    <% @album.songs.each do |song| %>
        <tr>
            <td> like </td>
            <td><%= song.name %></td>
            <td><%= song.artist.name %></td>
        </tr>
    <%end%>
    </tbody>
</table>
</div>
<%= link_to "Back to #{@album.artist.name}'s Albums", :back %>