<div id="head"><%= image_tag(@album.artwork, size: "100") %>
<h1> <%= @album.title %> </h1>
<% @user = current_user%>
<%= link_to "♥️", toggle_favorite_album_path(@album), remote: true, method: :post %>
</div>
<div id="link">
<%= link_to "Back to #{@album.artist.name}'s Albums", :back %> <br>
<%= link_to 'Back to Profile', root_path %>
</div>
<table>
    <thead>
    <tr>
    <th> </th>
    <th>Song</th>
    <th>Artist</th>
    </tr>
    </thead>

    <tbody>
    <% @album.songs.each do |song| %>
        <tr>
            <td><%= link_to "♥️", toggle_favorite_song_path(song), remote: true, method: :post %> </td>
            <td><%= song.name %></td>
            <td><%= song.artist.name %></td>
        </tr>
    <%end%>
    </tbody>
</table>
